* {
    padding: 0px;
    margin: 0px;
}

.title--element{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nav--list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    font-size: xx-large;
    
}

.title--main {
    margin-left: 25px;
    margin-top: 50px;
    width: 100%;
    background: pink;

}

#current {
    display: flex;
    align-items: flex-start;
}

.programming--languages {
    margin-top: 50px;
}

#languages {
    list-style: none;
    font-family: sans-serif;
    margin-left: 60px;
    margin-top: 10px;
}

.goals {
    margin-top: 50px;
}

#profile--image {
    display: start;
    align-items: center;
    background-color: yellow;
}
