* {
    padding: 0px;
    margin: 0px;
    color: whitesmoke;
}

body {
    background-image: url("./CVWebBackground.jpg");
    background-repeat: no-repeat;
}

.title--element {
    background-color: purple;
    margin: 0px 45px 0px 45px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nav--list {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 50px;
}

#current {
    background-color: grey;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 45px;
}

.programming--languages {
    background-color: orangered;
    width: 35%;
    margin-top: 25px;
}

#languages {
    width: 10%;
    background-color: orange;
    list-style: none;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    font-weight: bold;
    margin-bottom: 25px;
}

#profile--image {
    background-color: aqua;
    margin: 0px 45px 0px 45px;
    height: 200px;
    display: flex;
    justify-content: center;
}

#profile--description {
    display: flex;
    align-self: center;
}